/*
Mixins
*/

/*
Give an element full width(100%) and full viewport height(100vh).
*/
@mixin full-width-and-viewport-height {
  width: 100%;
  height: 100%;
  //height: 100vh;
}

/*
Center vertically an element using css flex.
*/
@mixin center-vertically {
  display: flex;
  align-items: center;
}

/*
Center horizontally an element using css flex.
*/
@mixin center-horizontally {
  display: flex;
  justify-content: center;
}