*.log
.htaccess
.idea
wp-config.php
.well-known
error_log
.wp-cli
cgi-bin
doc.default.php
wp-content/uploads/
wp-content/plugins/
wp-content/themes/novoinnsider/assets/node_modules/
curso.innsider.com.co
admin.innsider.com.co