footer{
    text-decoration: none !important;
    color: #001965 !important;
    font-family: "NotoSans Regular" !important;

    a{
        text-decoration: none !important;
        color: #001965 !important;
        font-family: "NotoSans Regular" !important;
    }
}