header{
    background: #ebebeb;

    .offcanvas-body{
        ul{
            li{
                a{
                    color: #001965;
                    font-family: 'NotoSans Regular' !important;
                    font-size: 1rem;
                    line-height: 16.46px;
                    text-align: center;
                    padding: 2rem 0.5rem;
                    margin: 0px;

                    @include media-breakpoint-up(md) {
                        font-size: 1rem;
                        padding: 2rem 0.5rem;
                        margin: 0px;
                    }
            
                    @include media-breakpoint-up(lg) {
                        font-size: 1.1rem;
                        padding: 0;
                        margin: 0rem 2rem;
                    }
            
                    @include media-breakpoint-up(xl) {
                        font-size: 1.3rem;
                        padding: 0;
                        margin: 0rem 2rem;
                    }
            
                    @include media-breakpoint-up(xxl) {
                        font-size: 1.5rem;
                        padding: 0;
                        margin: 0rem 2rem;
                    }

                    &:hover{
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .btn-login{
        background: white;
        text-decoration: none;
        color: #001965;
        border-radius: 2.5rem;
        padding: 0.3rem 1.5rem;
        cursor: pointer;
        font-family: 'NotoSans Regular' !important;
        font-size: 1rem;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
            padding: 0.3rem 1.4rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.1rem;
            padding: 0.3rem 1.4rem;
            border-radius: 1.5rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.3rem;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 1.5rem;
        }

        a{
            text-decoration: none;
            color: #001965;
            font-family: 'NotoSans Bold' !important;
        }
    }


    .btn-login:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.1);
    }

    .btn-register{
        background: white;
        text-decoration: none;
        color: #001965;
        border-radius: 2.5rem;
        padding: 0.3rem 1.5rem;
        cursor: pointer;
        font-family: 'NotoSans Regular' !important;
        font-size: 1.5rem;
    }

    .btn-register:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.1);
    }
}

#menu-menu-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-logo-container{
    position: relative;
    height: 36px;
    cursor: pointer;
    width: 100%;
    
    @include media-breakpoint-up(md){
        height: 35px;
        width: 100%;
    }
    
    @include media-breakpoint-up(lg) {
        height: 30px;
        width: 100%;
    }
    
    @include media-breakpoint-up(xl) {
        height: 30px;
        width: 100%;
    }
    
    @include media-breakpoint-up(xxl) {
        height: 36px;
        width: 100%;
    }
    
    @include media-breakpoint-up(xxxl){
        height: 40px;
        width: 100%;
    }

    .custom-logo-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .custom-logo {
            width: 100%;
            height: 100%;
            transition: all 400ms ease-out;
            will-change: transform;
            object-fit: contain;
            overflow: hidden;
            object-position: center;
        }
    }
    
}

.text-justify{
    text-align: justify !important;
}


#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{
    font-family: 'NotoSans Regular' !important;
    font-size: 1rem !important;
    

    @include media-breakpoint-up(md) {
        font-size: 1rem !important;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1.1rem !important;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.3rem !important;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 1.5rem !important;
    }

}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu{
    position: fixed !important;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu ul.mega-sub-menu{
    display: flex !important;
    justify-content: center;
    align-items: center;
}