header{
    background: #ebebeb;

    .offcanvas-body{
        ul{
            li{
                a{
                    color: #001965;
                    font-family: 'NotoSans Regular' !important;
                    font-size: 1rem;
                    line-height: 16.46px;
                    text-align: center;

                    @include media-breakpoint-up(md) {
                        font-size: 1rem;
                    }
            
                    @include media-breakpoint-up(lg) {
                        font-size: 1.1rem;
                    }
            
                    @include media-breakpoint-up(xl) {
                        font-size: 1.3rem;
                    }
            
                    @include media-breakpoint-up(xxl) {
                        font-size: 1.5rem;
                    }

                    &:hover{
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .btn-login{
        background: white;
        text-decoration: none;
        color: #001965;
        border-radius: 2.5rem;
        padding: 0.3rem 1.5rem;
        cursor: pointer;
        font-family: 'NotoSans Regular' !important;
        font-size: 1rem;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
            padding: 0.3rem 1.4rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.1rem;
            padding: 0.3rem 1.4rem;
            border-radius: 1.5rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.3rem;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 1.5rem;
        }
    }


    .btn-login:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.1);
    }

    .btn-register{
        background: white;
        text-decoration: none;
        color: #001965;
        border-radius: 2.5rem;
        padding: 0.3rem 1.5rem;
        cursor: pointer;
        font-family: 'NotoSans Regular' !important;
        font-size: 1.5rem;
    }

    .btn-register:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.1);
    }
}

#menu-menu-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}


.custom-logo {

	img {
		width: 200px;
		height: 100%;

		@include media-breakpoint-up(md) {
			display: block !important;
			width: 200px;
		}

		@include media-breakpoint-up(lg) {
			width: 110px;
		}

		@include media-breakpoint-up(xl) {
			width: 140px;
		}

		@include media-breakpoint-up(xxl) {
			width: 170px;
		}
	}
}
