/* Styles Banner Initial */

.banner {
    position: relative;
    overflow-x: hidden;

    * {
        z-index: 1;
    }

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-wrapper {

            .swiper-slide {
                position: relative;
                height: 150px;
                align-items: flex-end !important;

                @include center-horizontally;
                @include center-vertically;

                a {
                    text-decoration: none;
                }

                @include media-breakpoint-up(md) {
                    height: 300px;
                }

                @include media-breakpoint-up(lg) {
                    height: 355px;
                    align-items: flex-end;
                }

                @include media-breakpoint-up(xl) {
                    height: 435px;
                }

                @include media-breakpoint-up(xxl) {
                    height: 520px;
                }

                @include media-breakpoint-up(xxxl) {
                    height: 500px;
                }
            }

        }
    }
}

.swiper-pagination {
    &-bullet {
        background-color: #D9D9D9 !important;
        margin: 0 4px !important;
        width: 0.7rem !important;
        height: 0.7rem !important;
        border-radius: 1.5rem !important;
    }

    &-bullet-active {
        background-color: #61C3D9 !important;
        margin: 0 4px !important;
        width: 0.7rem !important;
        height: 0.7rem !important;
        border-radius: 1.5rem !important;
    }
}

.banner-image-all-speakers{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Modificar la posici贸n y estilos generales de los botones */
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%; /* Posiciona el bot贸n en el centro vertical */
    transform: translateY(-50%);
    width: 30px; /* Ancho del bot贸n */
    height: 30px; /* Altura del bot贸n */
    margin-top: 0; /* Opcional: ajustar margen superior si es necesario */
    z-index: 10; /* Asegura que est茅 por encima del contenido */
    // background-color: rgba(0, 0, 0, 0.5); /* Color de fondo del bot贸n */
    color: #ffffff; /* Color del icono */
    border-radius: 50%; /* Bot贸n redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el bot贸n */
}

/* Estilos cuando se pasa el rat贸n sobre los botones */
.swiper-button-next:hover, .swiper-button-prev:hover {
    color: rgba(0, 0, 0, 0.7); /* Color de fondo al pasar el rat贸n */
}

/* Estilos del icono dentro del bot贸n */
.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 33px; /* Tama帽o del icono */
}

/* Estilo espec铆fico del bot贸n siguiente (next) */
.swiper-button-next::after {
    font-family: bootstrap-icons !important;
    font-weight: 900;
    content: "\F138";
}

/* Estilo espec铆fico del bot贸n anterior (prev) */
.swiper-button-prev::after {
    font-family: bootstrap-icons !important;
    font-weight: 900;
    content: "\F12F";
}

/* Ajuste de posici贸n espec铆fico para los botones */
.swiper-button-next {
    right: 10px; /* Posici贸n del bot贸n siguiente a la derecha */
}

.swiper-button-prev {
    left: 10px; /* Posici贸n del bot贸n anterior a la izquierda */
}


/* End Styles Banner Initial */

/* Styles Body Home */

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.auth-buttons .btn {
    text-decoration: none;
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

main {
    padding: 20px;
}

.hero1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0056b3;
    color: #fff;
    padding: 20px;
    border-radius: 10px;

    .hero-text h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    
    .hero-text p {
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    
    .hero-image img {
        height: 200px;
    }
    

}


.tools, .news, .newsletter {
    margin: 20px 0;
}

.tools h2, .news h2, .newsletter h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.tools-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
}

.tools-content img {
    height: 100px;
}

.tools-buttons .btn, .tools-auth .btn {
    text-decoration: none;
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}

.news-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-item {
    width: 23%;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.news-item img {
    width: 100%;
    border-radius: 10px;
}

.news-item h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.news-item p {
    font-size: 0.9em;
}

.news-item span {
    font-size: 0.8em;
    color: #666;
}

.newsletter {
    text-align: center;
    background: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
}

.newsletter .btn {
    text-decoration: none;
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

footer {
    background: #f0f0f0;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #007BFF;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom a {
    text-decoration: none;
    color: #007BFF;
}

.footer-bottom a:hover {
    text-decoration: underline;
}


/* End styles Body Home */













/* styles section - Herramientas Innsider */
.title {
    border-left: 4px solid #007bff;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
}

.content-box {
    background-color: #007bff;
    color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-box .content-text h2 {
    font-size: 24px;
    font-weight: bold;
}

.content-box .content-text p {
    font-size: 18px;
}

.content-box .button-group button {
    margin: 5px;
}

.content-box .content-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .content-box {
        flex-direction: row;
        text-align: left;
    }

    .content-box .content-text {
        max-width: 50%;
    }

    .content-box .content-image {
        max-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}







.banner-category {
    position: relative;
    height: 400px;
  
    .test1 {
      z-index: 3;
    }

    &::before {
      background: linear-gradient( 0.25turn, rgba($blue-dark, 0.7), rgba($blue-dark, 0.7), rgba($blue-dark, 0.7));
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      z-index: 2;
      left: 0;
      border-radius: 1rem;

      @include media-breakpoint-up(lg) {
        background: transparent;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        z-index: 2;
        left: 0;
        border-radius: 1rem;
      }

    }
  
    .bg-banner-single-category {

        object-position: left;            
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -1;
        left: 0;
        top: 0;
        border-radius: 1rem;

        @include media-breakpoint-up(md) {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            object-position: center;
            z-index: -1;
            left: 0;
            top: 0;
            border-radius: 1rem;
        }
    }

    @include media-breakpoint-up(md) {
        height: 410px;
    }
  
    @include media-breakpoint-up(lg) {
        height: 420px;
    }
  
    @include media-breakpoint-up(xl) {
        height: 430px;
    }
  
    @include media-breakpoint-up(xxl) {
        height: 450px;
    }

    @include media-breakpoint-up(xxxl) {
        height: 460px;
    }
  }
/* Fin Styles Section - Herramientas Innsider */



.content {
    display: flex;
    gap: 35px;
}

.card {
    background-color: white;
    border-radius: 8px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 calc(33% - 20px);
    display: flex;
    flex-direction: column;
    border: none;
}

.card.large {
    flex: 2 1 calc(66% - 20px);
    display: flex;
    flex-direction: row;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 150px;
    object-position: left;
    border-radius: 0.5rem;
}

.card-info {
    padding: 15px;
}

.card-info h2 {
    margin: 0;
    font-size: 1.25em;
    color: #003366;
}

.card-info p {
    margin: 5px 0;
    color: #666;
}

.time {
    font-size: 0.875em;
    color: #999;
}

.icon {
    height: 80px;
    width: 80px;
    background-color: #003366;
    margin: 15px auto;
    border-radius: 50%;
}

.article::before {
    content: "";
    font-size: 2.5em;
    display: block;
    text-align: center;
    line-height: 80px;
    color: white;
}

.video::before {
    content: "";
    font-size: 2.5em;
    display: block;
    text-align: center;
    line-height: 80px;
    color: white;
}

.infographic::before {
    content: "";
    font-size: 2.5em;
    display: block;
    text-align: center;
    line-height: 80px;
    color: white;
}



.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }





  .second-banner-category {
    position: relative;
    height: 150px;
  
    .test1 {
      z-index: 3;
    }
  
    .bg-banner-single-category {

        object-position: left;            
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -1;
        left: 0;
        top: 0;
        border-radius: 1rem;

        @include media-breakpoint-up(md) {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            object-position: center;
            z-index: -1;
            left: 0;
            top: 0;
            border-radius: 1rem;
        }
    }

    @include media-breakpoint-up(md) {
        height: 230px;
    }
  
    @include media-breakpoint-up(lg) {
        height: 330px;
    }
  
    @include media-breakpoint-up(xl) {
        height: 400px;
    }
  
    @include media-breakpoint-up(xxl) {
        height: 440px;
    }

    @include media-breakpoint-up(xxxl) {
        height: 460px;
    }
  }
/* Fin Styles Section - Herramientas Innsider */